body{
  top: 0;
  background: #FEF1F9;
}

#main{
  // width: auto;
  position: relative;
  &:after{
    content: "";
    display: block;
    clear: both
  }
}

.board-index{
  h1{
    margin-left: 100px;
  }
}


.boards{
  list-style-type: none;
  &:after{
    content: "";
    display: block;
    clear: both
  }
}

.boards > li {
  float: left;
  display: inline-block;
  background-color: #BD2C6B;
  width: 300px;
  margin-top: 10px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 25px;
  height: 100px;
  border-radius: 5px;
  // -webkit-box-shadow: 10px 10px 14px -8px rgba(87,78,87,1);
  // -moz-box-shadow: 10px 10px 14px -8px rgba(87,78,87,1);
  // box-shadow: 10px 10px 14px -8px rgba(87,78,87,1);

}

.board-name > a{
  color: white;
}

.delete-board{
  float: right
}

.add-board{
  color: white;
  &:hover{
    cursor: pointer;
    color: white;
  }
}

.new-board{
  input{
    margin-bottom: 5px;
  }
  .btn-success{
    background-color: #751C42;
    border-color: #601736;
  }
}
